<table id="datatable" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="40%">Titulo</th>
      <th width="10%">Linha de pesquisa</th>
      <th width="10%">Tipo de trabalho</th>
      <th width="10%">Sua Avaliação</th>
      <th width="10%">Avaliação Geral</th>
      <th width="20%">Opções</th>
    </tr>
  </thead>
  <tbody>
    <% trabalhos.each do |trabalho| %>
      <tr>
        <td><%= trabalho.titulo %></td>
        <td><%= trabalho.linha.nome %></td>
        <td><%= trabalho.tipo_trabalho.nome %></td>
        <td>
          <% if trabalho.minha_avaliacao(current_user.autenticavel).present? %>
            <%= situacao(trabalho.minha_avaliacao(current_user.autenticavel).situacao).html_safe %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= situacao(trabalho.situacao).html_safe %></td>
        <td>
          <div class="btn-group">
            <% if can? :show, trabalho %>
              <%= link_to fa_icon('download'), trabalho.download, title: 'Download', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if trabalho.minha_avaliacao(current_user.autenticavel).present? %>
              <%= link_to fa_icon('gavel'), admin_trabalho_avaliar_path(trabalho), title: 'Avaliar', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if can? :show, trabalho %>
              <%= link_to fa_icon('eye'), admin_trabalho_path(trabalho), title: 'Detalhar', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if can? :update, trabalho %>
              <%= link_to fa_icon('edit'), edit_admin_trabalho_path(trabalho), title: 'Editar', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if can? :delete, trabalho %>
              <%= link_to fa_icon('trash'), admin_trabalho_path(trabalho), title: 'Excluir', class: "btn btn-primary btn-sm", method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse trabalho?' } %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
