<% content_for :head do %>
  <%= render partial: "layouts/datatables" %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'file-text-o' %> Trabalhos</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <% if current_user.admin? %>
        <a href="<%= new_admin_trabalho_path %>" class="btn btn-primary"><%= fa_icon 'upload' %> Enviar Trabalho</a>
      <% end %>
    </div>
  </div>
</div>

<% if @trabalhos.empty? %>
  <p>Nenhum trabalho a ser avaliado por você até o momento.</p>
<% else %>
  <%= render partial: 'table', locals: { trabalhos: @trabalhos } %>
<% end %>
