<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'eye' %> Detalhar Trabalho</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <% if can? :show, @trabalho %>
        <%= link_to fa_icon('download') + " Download", @trabalho.arquivo.url, class: "btn btn-primary" %>
      <% end %>
      <% if can? :update, @trabalho %>
        <%= link_to fa_icon('edit') + " Editar", edit_admin_trabalho_path(@trabalho), class: "btn btn-primary" %>
      <% end %>
      <% if can? :delete, @trabalho %>
        <%= link_to fa_icon('trash') + " Excluir", admin_trabalho_path(@trabalho), class: "btn btn-primary", method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse trabalho?' } %>
      <% end %>
      <% if can? :index, Trabalho %>
        <%= link_to fa_icon('undo') + " Voltar", admin_trabalhos_path, class: "btn btn-primary" %>
      <% end %>
      <% if can? :edit, AvaliacaoTrabalho %>
        <% if avaliador?(current_user.autenticavel, @trabalho) %>
          <%= link_to fa_icon('gavel') + " Avaliar", edit_admin_trabalho_path, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'trabalhos/detalhes' %>

<% if can? :index, AvaliacaoTrabalho %>
  <h2>Avaliações</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <th>Avaliador</th>
      <th>Avaliação</th>
    </thead>
    <tbody>
      <% @avaliacoes.each do |avaliacao| %>
        <tr>
          <td><%= avaliacao.organizador.nome %></td>
          <td><%= situacao(avaliacao.situacao).html_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
