<% @participante.pagamentos.each do |pagamento| %>
  <div class="panel panel">
    <div class="panel-body">
      <% if pagamento.mp_merchant_order.present? %>
        <h3>Merchant Order Data</h3>
        <dl class="dl-horizontal">
          <dt>ID</dt><dd><%= pagamento.merchant_order('id') %></dd>
          <dt>Preference ID</dt><dd><%= pagamento.merchant_order('preference_id') %></dd>
          <dt>Criado em</dt><dd><%= data(str_to_date(pagamento.merchant_order('date_created'))) %></dd>
          <dt>Última modificação</dt><dd><%= data(str_to_date(pagamento.merchant_order('last_updated'))) %></dd>
          <dt>Status</dt><dd><%= pagamento.merchant_order('status') %></dd>
          <dt>Valor total</dt><dd>R$ <%= pagamento.merchant_order('total_amount') %></dd>
          <dt>Referência externa</dt><dd><%= pagamento.merchant_order('external_reference') %></dd>
        </dl>
      <% end %>
      <% if pagamento.mp_payment.present? %>
        <hr>
        <h3>Payment Data</h3>
        <dl class="dl-horizontal">
          <dt>ID</dt><dd><%= pagamento.payment('id') %></dd>
          <dt>Criado em</dt><dd><%= data(str_to_date(pagamento.payment('date_created'))) %></dd>
          <% if pagamento.payment('date_approved').present? %>
            <dt>Aprovado em</dt><dd><%= data(str_to_date(pagamento.payment('date_approved'))) %></dd>
            <dt>Valor liberado em</dt><dd><%= data(str_to_date(pagamento.payment('money_release_date'))) %></dd>
          <% end %>
          <dt>Pagante</dt><dd><%= pagamento.payment('payer')['first_name'] %> <%= pagamento.payment('payer')['last_name'] %></dd>
          <dt>Telefone do pagante</dt><dd>(<%= pagamento.payment('payer')['phone']['area_code'] %>) <%= pagamento.payment('payer')['phone']['number'] %></dd>
          <dt>Documento</dt><dd><%= pagamento.payment('payer')['identification']['number'] %> (<%= pagamento.payment('payer')['identification']['type'] %>)</dd>
          <dt>E-mail</dt><dd><%= pagamento.payment('payer')['email'] %></dd>
          <dt>Ordem de pagamento</dt><dd><%= pagamento.payment('merchant_order_id') %></dd>
          <dt>Valor</dt><dd>R$ <%= pagamento.payment('total_paid_amount') %></dd>
          <dt>Status</dt><dd><%= pagamento.payment('status') %></dd>
          <dt>Tipo de pagamento</dt><dd><%= pagamento.payment('payment_type') %></dd>
          <dt>ID do tipo de pagamento</dt><dd><%= pagamento.payment('payment_method_id') %></dd>
          <dt>ID da ordem de transação</dt><dd><%= pagamento.payment('transaction_order_id') %></dd>
          <dt>Código de autorização</dt><dd><%= pagamento.payment('authorization_code') %></dd>
          <dt>Últimos 4 dígitos</dt><dd><%= pagamento.payment('last_four_digits') %></dd>
        </dl>
      <% end %>
    </div>
  </div>
<% end %>
