<%= content_for :head do %>
  <script type="text/javascript">
    function aprovar_nota_empenho() {
      if(confirm("Tem certeza que deseja aprovar o pagamento por nota de empenho?")) {
        redirect("<%= admin_participante_aprovar_nota_empenho_path(@participante) %>");
      }
    }
  </script>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'eye' %> Detalhar Participante</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <div class="btn-group">
        <% if can? :aprovar_nota_empenho, @participante and @participante.pagamento_por_empenho? and !(@participante.pago?) %>
          <%= link_to fa_icon('money') + " Aprovar nota de empenho", "javascript:void(0)", onclick: "aprovar_nota_empenho()", class: "btn btn-primary" %>
        <% end %>
        <% if can? :update, @participante %>
          <%= link_to fa_icon('edit') + " Editar", edit_admin_participante_path(@participante), class: "btn btn-primary" %>
        <% end %>
        <% if can? :delete, @participante %>
          <%= link_to fa_icon('trash') + " Excluir", admin_participante_path(@participante), class: "btn btn-primary", method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse participante?' } %>
        <% end %>
        <% if can? :index, Participante %>
          <%= link_to fa_icon('undo') + " Voltar", admin_participantes_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'participantes/detalhes' %>

<h2><%= fa_icon 'file-text-o' %> Trabalhos</h2>

<% if @participante.trabalhos.empty? %>
  <p>Nenhum trabalho submetido até o momento.</p>
<% else %>
  <%= render partial: 'trabalhos' %>
<% end %>

<% if can? :show, Pagamento %>
  <h2><%= fa_icon 'usd' %> Pagamentos</h2>
  <% if @participante.pagamentos.empty? %>
    <p>Nenhum pagamento realizado até o momento.</p>
  <% else %>
    <%= render partial: 'pagamentos' %>
  <% end %>
<% end %>
