<%= content_for :footer do %>
  <script type="text/javascript">
    $(function() {
      $(".oculto").hide();

      <% if @avaliacao.errors.present? %>
        <% @avaliacao.errors.messages.each_pair do |field, message| %>
          $("label[for='avaliacao_trabalho_<%= field %>']").addClass('campo_obrigatorio');
          $("span#campo_<%= field %>").show();
        <% end %>

        <% if @avaliacao.errors.messages.include?(:linha_id) or @avaliacao.outra_linha? %>
          $("#linha").show();
        <% end %>

        <% if @avaliacao.errors.messages.include?(:parecer) or @avaliacao.reprovado? %>
          $("#parecer").show();
        <% end %>
      <% end %>
    });

    function avaliacao(situacao) {
      if(situacao == 'aprovado') {
        $("#linha").hide('blind');
        $("#parecer").hide('blind');
      } else if(situacao == 'outra_linha') {
        $("#linha").show('blind');
        $("#parecer").hide('blind');
      } else if(situacao == 'reprovado') {
        $("#linha").hide('blind');
        $("#parecer").show('blind');
      }
    }

    function validar() {
      validacao = true;

      if($("input[name='avaliacao_trabalho[situacao]']:checked").val() == undefined) {
        $("label[for='avaliacao_trabalho_situacao']").parent().addClass('has-error');
        validacao = false;
      }

      return validacao;
    }
  </script>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'gavel' %> Avaliar Trabalho</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a href="<%= admin_trabalho_path(@avaliacao.trabalho) %>" class="btn btn-primary"><%= fa_icon 'undo' %> Voltar</a>
    </div>
  </div>
</div>

<%= bootstrap_form_for(@avaliacao, url: admin_trabalho_avaliacao_path(@avaliacao.trabalho, @avaliacao)) do |f| %>

  <div class="row">
    <div class="col-md-5">
      <%= f.form_group :tematica_linha, label: { text: 'O tema está inserido na linha temática a que foi submetido? *' } do %>
        <%= f.radio_button :tematica_linha, AvaliacaoTrabalho::TEMATICA_LINHA[:sim], label: 'Sim' %>
        <%= f.radio_button :tematica_linha, AvaliacaoTrabalho::TEMATICA_LINHA[:nao], label: 'Não', checked: true %>
      <% end %>
      <%= f.form_group :atende_normas, label: { text: 'Atende às normas da Holos? *' } do %>
        <%= f.radio_button :atende_normas, AvaliacaoTrabalho::ATENDE_NORMAS[:sim], label: 'Sim' %>
        <%= f.radio_button :atende_normas, AvaliacaoTrabalho::ATENDE_NORMAS[:nao], label: 'Não/recusado' %>
      <% end %>
      <%= f.form_group :tematica_evento, label: { text: 'O tema está inserido na temática do evento? *' } do %>
        <%= f.radio_button :tematica_evento, AvaliacaoTrabalho::TEMATICA_EVENTO[:sim], label: 'Sim' %>
        <%= f.radio_button :tematica_evento, AvaliacaoTrabalho::TEMATICA_EVENTO[:nao], label: 'Não/recusado' %>
      <% end %>
    </div>
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">Instruções de preenchimento</div>
        <div class="panel-body">
          <ul>
            <li>Os campos marcados com * são obrigatórios</li>
            <li>O campo 'Linha a qual o trabalho deve ser submetido' deve ser preenchido quando a avaliação final julgar que o trabalho deve ser submetido para outra linha de pesquisa</li>
            <li>O campo 'Parecer' deve ser preenchido quando o trabalho não for aceito</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Itens</th>
        <th>Atende</th>
        <th>Parcialmente</th>
        <th>Não atende</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= f.label :relevancia, '1. Relevância e pertinência do trabalho para a linha temática a que foi submetido *', class: 'control-label' %>
          <span id="campo_relevancia" class="oculto campo_obrigatorio"><br>campo obrigatório</span>
        </td>
        <td><%= f.radio_button :relevancia, AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= f.radio_button :relevancia, AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= f.radio_button :relevancia, AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
      <tr>
        <td>
          <%= f.label :adequacao, '2. Adequação conceitual na formulação dos problemas *', class: 'control-label' %>
          <span id="campo_adequacao" class="oculto campo_obrigatorio"><br>campo obrigatório</span>
        </td>
        <td><%= f.radio_button :adequacao, AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= f.radio_button :adequacao, AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= f.radio_button :adequacao, AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
      <tr>
        <td>
          <%= f.label :consistencia, '3. Consistência e rigor na abordagem teórico-metodológica e na argumentação *', class: 'control-label' %>
          <span id="campo_consistencia" class="oculto campo_obrigatorio"><br>campo obrigatório</span>
        </td>
        <td><%= f.radio_button :consistencia, AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= f.radio_button :consistencia, AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= f.radio_button :consistencia, AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
      <tr>
        <td>
          <%= f.label :interlocucao, '4. Interlocução com a produção da área da educação a distância, em particular com os temas propostos pela linha temática a que o trabalho foi submetido *', class: 'control-label' %>
          <span id="campo_interlocucao" class="oculto campo_obrigatorio"><br>campo obrigatório</span>
        </td>
        <td><%= f.radio_button :interlocucao, AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= f.radio_button :interlocucao, AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= f.radio_button :interlocucao, AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
      <tr>
        <td>
          <%= f.label :originalidade, '5. Originalidade e contribuição para o avanço do conhecimento na área do evento especialmente para a linha temática a que foi submetido *', class: 'control-label'%>
          <span id="campo_originalidade" class="oculto campo_obrigatorio"><br>campo obrigatório</span>
        </td>
        <td><%= f.radio_button :originalidade, AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= f.radio_button :originalidade, AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= f.radio_button :originalidade, AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-5">
      <%= f.form_group :situacao, label: { text: 'Qual a sua avaliação final sobre esse trabalho? *' } do %>
        <%= f.radio_button :situacao, AvaliacaoTrabalho::SITUACOES[:aprovado], label: 'Aprovado', onchange: "avaliacao('aprovado')" %>
        <%= f.radio_button :situacao, AvaliacaoTrabalho::SITUACOES[:outra_linha], label: 'Submeter para outra linha de pesquisa', onchange: "avaliacao('outra_linha')" %>
        <%= f.radio_button :situacao, AvaliacaoTrabalho::SITUACOES[:reprovado], label: 'Não aceito', onchange: "avaliacao('reprovado')" %>
      <% end %>
    </div>
    <div class="col-md-7">
      <div id="linha" class="oculto">
        <%= f.select :linha_id, Linha.select, { prompt: 'Selecione', label: 'Linha a qual o trabalho deve ser submetido' } %>
      </div>
      <div id="parecer" class="oculto">
        <%= f.text_area :parecer, class: "form-control", label: 'Parecer', placeholder: 'Justifique a sua avaliação' %>
      </div>
    </div>
  </div>
  <%= f.submit "Enviar", class: 'btn btn-primary', onclick: 'return validar()' %>
<% end %>
