<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'gavel' %> Avaliação de Trabalho</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a href="<%= admin_trabalho_path(@avaliacao.trabalho) %>" class="btn btn-primary"><%= fa_icon 'undo' %> Voltar</a>
    </div>
  </div>
</div>

<p>
  <strong>Avaliador(a):</strong> <%= @avaliacao.organizador.nome %><br>
</p>

<% if @avaliacao.outra_linha? %>
  <p>
    <strong>O tema está inserido na linha temática a que foi submetido?</strong><br>
    Não, o trabalho deve ser submetido para <%= @avaliacao.linha.nome %>.
  </p>
  <p>
    <strong>Parecer</strong><br>
    <%= @avaliacao.parecer %>
  </p>
<% else %>
  <p>
    <strong>Atende às normas da Holos?</strong>
    <% if @avaliacao.atende_normas.nil? %>
      Não avaliado
    <% else %>
      <% if @avaliacao.atende_normas == AvaliacaoTrabalho::ATENDE_NORMAS[:sim] %>
        Sim
      <% else %>
        Não/recusado
      <% end %>
    <% end %>
  </p>
  <p>
    <strong>O tema está inserido na temática do evento?</strong>
    <% if @avaliacao.tematica_evento.nil? %>
      Não avaliado
    <% else %>
      <% if @avaliacao.tematica_evento == AvaliacaoTrabalho::TEMATICA_EVENTO[:sim] %>
        Sim
      <% else %>
        Não/recusado
      <% end %>
    <% end %>
  </p>

  <table class="table table-bordered table-hover avaliacao">
    <thead>
      <tr>
        <th>Itens</th>
        <th>Atende</th>
        <th>Parcialmente</th>
        <th>Não atende</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Relevância e pertinência do trabalho para a linha temática a que foi submetido</td>
        <td><%= fa_icon('check') if @avaliacao.relevancia == AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= fa_icon('check') if @avaliacao.relevancia == AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= fa_icon('check') if @avaliacao.relevancia == AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
      <tr>
        <td>2. Adequação conceitual na formulação dos problemas</td>
        <td><%= fa_icon('check') if @avaliacao.adequacao == AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= fa_icon('check') if @avaliacao.adequacao == AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= fa_icon('check') if @avaliacao.adequacao == AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
      <tr>
        <td>3. Consistência e rigor na abordagem teórico-metodológica e na argumentação</td>
        <td><%= fa_icon('check') if @avaliacao.consistencia == AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= fa_icon('check') if @avaliacao.consistencia == AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= fa_icon('check') if @avaliacao.consistencia == AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
      <tr>
        <td>4. Interlocução com a produção da área da educação a distância, em particular com os temas propostos pela linha temática a que o trabalho foi submetido</td>
        <td><%= fa_icon('check') if @avaliacao.interlocucao == AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= fa_icon('check') if @avaliacao.interlocucao == AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= fa_icon('check') if @avaliacao.interlocucao == AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
      <tr>
        <td>5. Originalidade e contribuição para o avanço do conhecimento na área do evento especialmente para a linha temática a que foi submetido</td>
        <td><%= fa_icon('check') if @avaliacao.originalidade == AvaliacaoTrabalho::ITENS[:atende] %></td>
        <td><%= fa_icon('check') if @avaliacao.originalidade == AvaliacaoTrabalho::ITENS[:parcialmente] %></td>
        <td><%= fa_icon('check') if @avaliacao.originalidade == AvaliacaoTrabalho::ITENS[:nao_atende] %></td>
      </tr>
    </tbody>
  </table>
  <p>
    <strong>Avaliação final:</strong> <%= situacao(@avaliacao.situacao).html_safe %>
  </p>
  <% if @avaliacao.reprovado? %>
    <p>
      <strong>Parecer</strong><br>
      <%= @avaliacao.parecer %>
    </p>
  <% end %>
<% end %>
