<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'graduation-cap' %> Minicursos</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <% if Config.permitir_submissao_minicursos? %>
        <a href="<%= new_minicurso_path %>" class="btn btn-primary"><%= fa_icon 'graduation-cap' %> Propor Minicurso</a>
      <% end %>
    </div>
  </div>
</div>

<% if @minicursos.empty? %>
  <p>Você não propôs nenhum minicurso. Deseja <%= link_to "propor um agora", new_minicurso_path %>?</p>
<% else %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Avaliação</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @minicursos.each do |minicurso| %>
        <tr>
          <td><%= minicurso.titulo %></td>
          <td>-</td>
          <td>
            <div class="btn-group">
              <%= link_to fa_icon('eye'), minicurso, title: 'Detalhar', class: 'btn btn-primary btn-sm' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
