<p>Caro(a) <%= @inscricao.participante.nome %>,</p>

<p>Sua inscrição no minicurso <strong><%= @inscricao.minicurso.titulo.upcase %></strong> foi realizada com sucesso!</p>

<p>Por gentileza, esteja atento ao horário e local de realização do minicurso.</p>

<dl class="dl-horizontal">
  <dt>Ministrante</dt><dd><%= @inscricao.minicurso.participante.nome %></dd>
  <dt>Objetivos</dt><dd><%= @inscricao.minicurso.objetivos %></dd>
  <dt>Metodologia</dt><dd><%= @inscricao.minicurso.metodologia %></dd>
  <dt>Programação</dt><dd><%= @inscricao.minicurso.programacao %></dd>
  <dt>Local</dt><dd><%= @inscricao.minicurso.local %></dd>
  <dt>Horário</dt><dd>10/05/2017 das 13h30 as 15h30 e das 16h30 as 18h30</dd>
</dl>
