<%= bootstrap_form_for(@trabalho, html: { multipart: true }) do |f| %>
  <p>Todos os campos são obrigatórios.</p>
  <%= f.text_field :titulo, label: 'Título' %>
  <%= f.text_area :resumo, rows: 5 %>
  <%= f.file_field :arquivo, label: 'Arquivo (pdf)' %>
  <%= f.select :linha_id, Linha.select, prompt: 'Selecione' %>
  <%= f.select :tipo_trabalho_id, TipoTrabalho.select, prompt: 'Selecione' %>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>
