<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'file-text-o' %> Trabalhos</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <% if Config.permitir_submissao_trabalhos? %>
        <a href="<%= new_trabalho_path %>" class="btn btn-primary"><%= fa_icon 'upload' %> Enviar Trabalho</a>
      <% end %>
    </div>
  </div>
</div>

<% if @trabalhos.empty? %>
  <p>Você não submeteu trabalhos.</p>
<% else %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Linha de pesquisa</th>
        <th>Tipo de trabalho</th>
        <th>Avaliação</th>
        <th colspan="3">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @trabalhos.each do |trabalho| %>
        <tr>
          <td><%= trabalho.titulo %></td>
          <td><%= trabalho.linha.nome %></td>
          <td><%= trabalho.tipo_trabalho.nome %></td>
          <td><%= situacao(trabalho.situacao).html_safe %></td>
          <td>
            <div class="btn-group">
              <%= link_to fa_icon('download'), trabalho.arquivo.url, title: 'Download', class: 'btn btn-primary btn-sm' %>
              <%= link_to fa_icon('eye'), trabalho, title: 'Detalhar', class: 'btn btn-primary btn-sm' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
