<!DOCTYPE html>
<html>
<head>
  <title>III Seminário Internacional de Educação a Distância do IFRN</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/bootstrap' %>
  <%= yield :head %>
</head>
<body>
  <div class="container content">
    <%= render partial: "layouts/alerts" %>
    <%= yield %>
  </div>
</body>
</html>
